<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit task </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form [formGroup]="editProjectForm" (ngSubmit)="editProject(editProjectForm.value)" autocomplete="nope">
    <div class="modal-body">
      <div class="form-group label-floating">
        <label class="control-label"  [class.text-danger]="(name.touched && name.errors?.required) || errors?.name" for="name">Project Name</label>
        <input type="text" id="name" name="name" class="form-control" [class.is-invalid]="(name.touched && name.errors?.required) || errors?.name" formControlName="name">
        <div class="invalid-feedback" *ngIf="name.touched && name.errors?.required">
          Project name is required.
        </div>
        <div class="invalid-feedback" *ngIf="errors?.name">
          {{ errors.name }}
        </div>
      </div>
      <div class="form-group label-floating">
        <label class="control-label" for="description">Project Description</label>
        <textarea class="form-control"  name="description" id="description" formControlName="description"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-outline-primary" [disabled]="!editProjectForm.valid">{{ submitText }}</button>
    </div>
  </form>
</ng-template>

<button type="button" class="btn btn-sm pull-right" [ngClass]="buttonClass != '' ? buttonClass : 'btn-outline-light'" (click)="open(content)">Edit</button>
