<h1>Tasks</h1>
<hr>
<div class="row top7" *ngFor="let board of boards">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <span class="pull-left">
          {{ board.name }}
        </span>
        <add-task class="pull-right" [projectId]="projectId" [boardId]="board.id" [boards]="boards" [users]="users"></add-task>
      </div>
      <div class="card-body">
        <div class="row">
          <single-task class="col-md-3 col-sm-6 col-xs-12" *ngFor="let task of board.tasks" [task]="task" [boards]="boards"></single-task>
        </div>
      </div>
    </div>
  </div>
</div>
