<div class="card">
  <div class="card-header">
    <span class="pull-left">
      Associated users
    </span>
    <add-associated-users [projectId]="projectId" (onUserAdded)="addUser($event)"></add-associated-users>
  </div>
  <div class="card-body">
    <div class="list-group">
      <div class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let user of users">
        <span class="pull-left">
          {{ user.name }}
        </span>
        <span class="pull-right" *ngIf="checkOwner()">
          <small class="remove-user" (click)="removeUser(user.id)">Remove</small>
        </span>
      </div>
    </div>
  </div>
</div>

