<div class="row justify-content-center ">
  <div class="col col-md-auto">
    <add-project (onProjectAdded)="addProject($event)"></add-project>
  </div>
</div>
<br>
<div class="row justify-content-center" *ngIf="loading">
  <div class="col col-md-auto">
    <h4>Loading, please wait...</h4>
  </div>
</div>
<div class="row">
  <div class="col-4" *ngFor="let project of projects">
    <div class="card bg-light mb-3" >
      <div class="card-header bg-secondary">
        <a [routerLink]="['project/', project.id]">
          <h4 class="pull-left">{{ project.name }}</h4>
        </a>
        <div class="pull-right" *ngIf="project.owner">
          <div class="btn-group">
            <edit-projects [project]="project" (onProjectEdited)="editProject($event)"></edit-projects>
          </div>
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-danger pull-right" (click)="deleteProject(project.id)">Delete</button>
          </div>
        </div>

      </div>
      <div class="card-body">
        <p class="card-text">Description</p>
        <p class="card-text"><small>{{ project.description }}</small></p>
      </div>
      <div class="card-footer">
        <p class="card-text">
          <small class="text-left pull-left" *ngIf="!project.owner">Project owner: {{ project.user.name }}</small>
          <small class="text-right pull-right">Created: {{ project.created_at.date | amTimeAgo }} </small>
        </p>
      </div>
    </div>
  </div>
</div>


